.event_box{
    width: 100%;
    min-height: 280px;
    height: auto;
}
.event_banner{
    min-height: 179px;
    height: auto;
}
.event_location{
    text-align:left;
}
.data_table{
    margin:20px !important;
}
.btns_group{
    margin-left: 20px;
}
.event_box_main{
    margin: 10px;
}
.dashboard_content_top {
    margin: 30px 9px 35px 9px;
}
.dashboard_search{
    width: 100%;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #aaa;
    height: 50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 45px}

/* ====================== ID end ====================== */
