@media (min-width:320px) and (max-width:575.98px){
    /* Sign in page start */
    nav .nav-item {
        padding-left: 16px !important;
    }

    .content_box {
        width: 100%;
    }

    .input-box, .btn_green_large, .btn_red_large {
        width: 272px !important;
    }

    #login form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-box {
        margin: 0 auto;
    }

    .mtn_white_box {
        margin-top: 0px;
    }

    /* Dashboard Landing page start */
    .sm_d_none {
        display: none;
    }

    .logout_btn {
        padding: 13px;
    }

    .sidenav .nav-link i {
        margin-right: 0;
    }

    .logout_btn i {
        margin-right: 0;
    }

    .sm_m_0 {
        margin: 0 auto;
    }

    .dashboard_content_top {
        flex-direction: column-reverse;
        margin: 30px 0 35px 0;
    }

    .Welcome_message {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
    }

    .dashboard_tab {
        margin: 0;
    }

    .dashboard_tab_box {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .dashboard_tab {
        flex-direction: column;
        align-items: center;
    }

    .dashboard_featured_event {
        margin: 50px 0 0 0;
    }

    .featured_top {
        padding: 10px 0 25px 10px;
    }

    .event_main {
        padding: 0 10px 0 10px;
        flex-direction: column;
    }

    .event_box {
        width: 100%;
        margin-bottom: 20px;
    }

    .dashboard_featured_event {
        width: 100%;
        height: auto;
    }

    .py-3 {
        width: calc(100% - 80px);
    }

    .profile_notification {
        align-self: flex-end;
    }

    .featured_top p {
        font-size: 15px;
    }

    .featured_top a {
        font-size: 15px;
        margin-right: 10px;
    }

    .going_btn {
        padding: 8px 13px;
    }

    .participant_img {
        width: 28px;
        height: 28px;
    }

    .participant_count p {
        font-size: 8px;
    }

    .going_btn_box {
        align-items: flex-end;
    }

    .event_date {
        margin-bottom: 12px;
    }

    .sidenav .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: transparent !important;
    }

    .a_center {
        align-items: center;
    }

    .event_location {
        font-size: 10px;
    }
    /* Dashboard Landing page end */

    /* Event view page start */
    .event_view .dashboard_content_top {
        margin: 0 0 35px 0;
    }

    .event_box_large {
        width: 100%;
        margin: 20px 0 30px 0;
        padding: 0 10px 10px 10px;
    }

    .event_page_title {
        font-size: 14px;
    }

    .event_view .close_option {
        padding: 16px 0 20px 24px;
    }

    .close_option a {
        font-size: 14px;
    }

    .event_banner_img {
        width: 100%;
        height: 125px;
    }

    .event_info_box {
        flex-direction: column;
    }

    .event_info_right {
        width: 100%;
    }

    .event_creator_cost_box {
        flex-direction: column;
    }

    .event_info_left {
        margin-right: 0;
    }

    .event_date_location_box {
        width: 100%;
    }

    .event_creator {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .event_cost {
        margin-bottom: 20px;
    }

    .event_request_btn {
        width: 100%;
    }
    /* Event view page end */

    /* Dashboard Event page start */
    .school_profile .dashboard_content_top {
        margin: 20px 0 30px 0 !important;
    }

    .school_profile .dashboard_search {
        width: 100% !important;
        margin-top: 20px;
    }

    .dashboard_search input::placeholder {
        font-size: 12px;
    }

    .btns_group {
        margin-left: 0;
        flex-direction: column;
    }

    .btn_wrap {
        background-color: transparent;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mid_btn::before, .mid_btn::after {
        display: none;
    }

    .group_btn {
        font-size: 12px;
        padding: 7px 8px;
        margin-bottom: 7px;
    }

    .event_box_main {
        margin: 28px 0 20px 0;
    }

    .event_box_main .event_box {
        margin-right: 0;
    }
    /* Dashboard Event page end */

    /* ID page start */
    .event_banner_img.school_event_box {
        height: auto;
    }

    .id_box {
        margin-top: 20px;
    }

    .going_box {
        flex-direction: column;
    }

    .going_box .participant_box {
        margin-bottom: 30px;
    }

    .btn_box {
        flex-direction: column;
    }

    .btn_box .btn_red_large {
        margin-left: 0;
    }

    .btn_box .btn_green_large, .btn_box .btn_red_large {
        width: auto !important;
        margin-bottom: 30px;
    }
    /* ID page end */
}

@media (min-width:576px) and (max-width:767.98px){
    /* Sign in page start */
    nav .nav-item {
        padding-left: 16px !important;
    }

    .content_box {
        width: 100%;
    }

    /* Dashboard Landing page start */
    .sm_d_none {
        display: none;
    }

    .logout_btn {
        padding: 13px;
    }

    .sidenav .nav-link i {
        margin-right: 0;
    }

    .logout_btn i {
        margin-right: 0;
    }

    .sm_m_0 {
        margin: 0 auto;
    }

    .dashboard_content_top {
        flex-direction: column-reverse;
        margin: 30px 0 35px 0;
    }

    .Welcome_message {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
    }

    .dashboard_tab {
        margin: 0;
    }

    .dashboard_tab_box {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .dashboard_tab {
        flex-direction: column;
        align-items: center;
    }

    .dashboard_featured_event {
        margin: 50px 0 0 0;
    }

    .featured_top {
        padding: 10px 0 25px 10px;
    }

    .event_main {
        padding: 0 10px 0 10px;
        flex-direction: column;
    }

    .event_box {
        width: 100%;
        margin-bottom: 20px;
    }

    .dashboard_featured_event {
        width: 100%;
        height: auto;
    }

    .py-3 {
        width: calc(100% - 80px);
    }

    .profile_notification {
        align-self: flex-end;
    }

    .featured_top p {
        font-size: 15px;
    }

    .featured_top a {
        font-size: 15px;
        margin-right: 10px;
    }

    .going_btn {
        padding: 8px 13px;
    }

    .participant_img {
        width: 28px;
        height: 28px;
    }

    .participant_count p {
        font-size: 8px;
    }

    .going_btn_box {
        align-items: flex-end;
    }

    .event_date {
        margin-bottom: 12px;
    }

    .sidenav .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: transparent !important;
    }

    .a_center {
        align-items: center;
    }
    /* Dashboard Landing page end */

    /* Event view page start */
    .event_view .dashboard_content_top {
        margin: 0 0 35px 0;
    }

    .event_box_large {
        width: 100%;
        margin: 20px 0 30px 0;
        padding: 0 10px 10px 10px;
    }

    .event_page_title {
        font-size: 14px;
    }

    .event_view .close_option {
        padding: 16px 0 20px 24px;
    }

    .close_option a {
        font-size: 14px;
    }

    .event_banner_img {
        width: 100%;
        height: 200px;
    }

    .event_info_box {
        flex-direction: column;
    }

    .event_info_right {
        width: 100%;
    }

    .event_info_left {
        margin-right: 0;
    }

    .event_date_location_box {
        width: 100%;
    }

    .event_creator_cost_box {
        margin-bottom: 20px;
    }
    /* Event view page end */

    /* Dashboard Event page start */
    .school_profile .dashboard_content_top {
        margin: 20px 0 30px 0 !important;
    }

    .school_profile .dashboard_search {
        width: 100% !important;
        margin-top: 20px;
    }

    .btns_group {
        margin-left: 0;
        flex-direction: column;
    }

    .btn_wrap {
        background-color: transparent;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mid_btn::before, .mid_btn::after {
        display: none;
    }

    .group_btn {
        margin-bottom: 7px;
    }

    .event_box_main {
        margin: 28px 0 20px 0;
    }

    .event_box_main .event_box {
        margin-right: 0;
    }
    /* Dashboard Event page end */

    /* ID page start */
    .event_banner_img.school_event_box {
        height: auto;
    }

    .id_box {
        margin-top: 20px;
    }

    .going_box {
        flex-direction: column;
    }

    .going_box .participant_box {
        margin-bottom: 30px;
    }

    .btn_box {
        flex-direction: column;
    }

    .btn_box .btn_red_large {
        margin-left: 0;
    }

    .btn_box .btn_green_large, .btn_box .btn_red_large {
        width: auto !important;
        margin-bottom: 30px;
    }
    /* ID page end */
}

@media (min-width:768px) and (max-width:991.98px){
    nav .nav-item {
        padding-left: 16px !important;
    }

    /* Dashboard Landing page start */
    .dashboard_content_top {
        margin: 30px 0 35px 0;
    }

    .Welcome_message {
        font-size: 16px;
        line-height: 1.5;
        margin-right: 40px;
    }

    .dashboard_tab {
        margin: 0;
    }

    .dashboard_tab_box {
        width: 120px;
        height: 110px;
    }

    .dashboard_tab {
        flex-direction: row;
    }

    .dashboard_tab_icon img {
        height: 35px;
        width: auto;
    }

    .dashboard_tab_box .dashboard_tab_title {
        font-size: 14px;
    }

    .dashboard_featured_event {
        margin: 50px 0 0 0;
    }

    .featured_top {
        padding: 10px 0 25px 10px;
    }

    .event_main {
        padding: 0 10px 0 10px;
        flex-direction: column;
    }

    .event_box {
        width: 100%;
        margin-bottom: 20px;
    }

    .dashboard_featured_event {
        width: 100%;
        height: auto;
    }

    .profile_notification {
        align-self: flex-end;
    }

    .featured_top p {
        font-size: 15px;
    }

    .featured_top a {
        font-size: 15px;
        margin-right: 10px;
    }

    .going_btn {
        padding: 8px 13px;
    }

    .participant_img {
        width: 28px;
        height: 28px;
    }

    .participant_count p {
        font-size: 8px;
    }

    .going_btn_box {
        align-items: flex-end;
    }

    .event_date {
        margin-bottom: 12px;
    }

    .sidenav .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: transparent !important;
    }

    .search_wrap {
        width: 100%;
        margin-right: 10px;
    }

    .search input {
        width: 100%;
    }

    .sidenav {
        margin-top: 20px;
    }

    .sidenav .logo_img {
        margin-top: 0;
    }

    .dashboard_left_top_profile {
        margin-right: 20px;
    }
    /* Dashboard Landing page end */

    /* Event view page start */
    .event_view .dashboard_content_top {
        margin: 0 0 35px 0;
    }

    .event_box_large {
        width: 100%;
        margin: 20px 0 30px 0;
        padding: 0 10px 10px 10px;
    }

    .event_page_title {
        font-size: 14px;
    }

    .event_view .close_option {
        padding: 16px 0 20px 24px;
    }

    .close_option a {
        font-size: 14px;
    }

    .event_banner_img {
        width: 100%;
        height: 200px;
    }

    .event_info_box {
        flex-direction: column;
    }

    .event_info_right {
        width: 100%;
    }

    .event_info_left {
        margin-right: 0;
    }

    .event_date_location_box {
        width: 100%;
    }

    .event_creator_cost_box {
        margin-bottom: 20px;
    }

    .logout_btn {
        padding: 13px 48px 13px 18px;
    }
    /* Event view page end */

    /* Dashboard Event page start */
    .school_profile .dashboard_content_top {
        margin: 40px 0 40px 45px !important;
    }

    .school_profile .dashboard_search {
        width: 70% !important;
    }

    .btns_group {
        margin-left: 45px;
        flex-direction: column;
    }

    .btn_wrap {
        background-color: transparent;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mid_btn::before, .mid_btn::after {
        display: none;
    }

    .group_btn {
        margin-bottom: 7px;
    }
    /* Dashboard Event page end */

    /* ID page start */
    .id_box {
        margin-top: 50px;
    }

    .going_box .participant_box {
        margin-bottom: 30px;
    }

    .btn_box .btn_green_large, .btn_box .btn_red_large {
        width: 200px;
        margin-bottom: 30px;
    }
    /* ID page end */
}

@media (min-width:992px) and (max-width:1199.98px) {
    /* Dashboard Landing page start */
    .dashboard_content_top {
        margin: 10px 20px 35px 0;
    }

    .dashboard_tab {
        margin: 0;
    }

    .dashboard_tab_icon img {
        height: 40px;
        width: auto;
    }

    .dashboard_tab_box .dashboard_tab_title {
        font-size: 16px;
    }

    .dashboard_tab_box {
        width: 159px;
        height: 131px;
    }

    .dashboard_featured_event {
        margin: 50px 0 0 0;
    }

    .featured_top {
        padding: 17px 60px 35px 18px;
    }

    .event_main {
        padding: 5px;
    }

    .event_box {
        width: 335px;
    }
    /* Dashboard Landing page end */

    /* Event view page start */
    .event_view .dashboard_content_top {
        margin: 0 0 35px 0;
    }

    .event_box_large {
        width: 100%;
        margin: 20px 0 30px 0;
        padding: 0 10px 10px 10px;
    }

    .event_page_title {
        font-size: 14px;
    }

    .event_view .close_option {
        padding: 16px 0 20px 24px;
    }

    .close_option a {
        font-size: 14px;
    }

    .event_banner_img {
        width: 100%;
        height: 200px;
    }

    .event_info_box {
        flex-direction: column;
    }

    .event_info_right {
        width: 100%;
    }

    .event_info_left {
        margin-right: 0;
    }

    .event_creator_cost_box {
        margin-bottom: 20px;
    }

    .logout_btn {
        padding: 13px 48px 13px 18px;
    }
    /* Event view page end */

    /* Dashboard Event page start */
    .school_profile .dashboard_content_top {
        margin: 40px 0 40px 5px !important;
    }

    .btns_group {
        margin-left: 5px;
    }

    .group_btn {
        font-size: 12px;
        padding: 7px 13px;
        margin-right: 7px;
    }

    .btns_group .r_btn_wrap .group_btn_green {
        padding: 9px 13px;
    }

    .btns_group .r_btn_wrap {
        margin-top: 5px;
    }

    .school_profile .dashboard_search {
        width: 79% !important;
    }

    .btn_wrap {
        background-color: transparent;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mid_btn::before, .mid_btn::after {
        display: none;
    }

    .event_box_main {
        margin: 28px 0 20px 5px;
    }

    .event_box_main .event_box {
        margin-right: 21px;
    }
    /* Dashboard Event page end */

    /* ID page start */
    .id_box {
        margin-top: 50px;
    }

    .going_box .participant_box {
        margin-bottom: 30px;
    }

    .btn_box .btn_green_large, .btn_box .btn_red_large {
        width: 200px;
        margin-bottom: 30px;
    }
    /* ID page end */
}

@media (min-width:1200px) and (max-width:1399.98px) {
    /* Dashboard Landing page start */
    .dashboard_content_top {
        margin: 10px 20px 35px 0;
    }

    .dashboard_tab {
        margin: 0;
    }

    .dashboard_tab_icon img {
        height: 40px;
        width: auto;
    }

    .dashboard_tab_box .dashboard_tab_title {
        font-size: 16px;
    }

    .dashboard_featured_event {
        margin: 50px 0 0 0;
    }

    .featured_top {
        padding: 17px 60px 35px 18px;
    }

    .event_main {
        padding: 5px;
    }

    .event_box {
        width: 335px;
    }

    .logout_btn {
        padding: 13px 55px 13px 18px;
    }
    /* Dashboard Landing page end */

    /* Dashboard Event page start */
    .school_profile .dashboard_search {
        width: 84% !important;
    }
    /* Dashboard Event page end */
}
